<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="/style.css">

    <!-- Leaflet CSS -->
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body>

    <h1>Weather Application</h1>

    <input id="cityInput" type="text" placeholder="Enter city">
    <button id="btn">Get Weather</button>

    <div id="weather"></div>
    <h2>News</h2>
    <div id="news"></div>

    <h2>Map</h2>
    <div id="map" style="height: 300px;"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Frontend logic -->
    <script src="/app.js"></script>
</body>
</html>
